/*all page*/

body
    {
        background-color: #390087;
        margin: 0;
        padding: 0;
    }



#navbar
    {
        position: fixed;
        top: 0;
        height: 40px;
        width: 100vw;
        background-color: black;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 999;
        margin: 0;
    }



.topboxes
    {
        display: flex;
        padding: 0;
        flex-direction: row;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        background-color: black;
         margin: 10px;
        
    }



#topbox
    {
              
        justify-content: right;
        margin: 0;
    }

#upcoming_shows
    {
        color: white;
        font-size:  8vh;
        text-align: center;
    }

.actual-text
    {
        color: white;
        display: flex;
        justify-content: center;
    }

.actual-text:hover
    {
        color: red;
        text-decoration: none;
    }

.pic-holder
    {
        display: flex;
        flex-direction: row;
    }

.pics
    {
        display: flex;
        width: 50vw;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }


.pics img
    {
        max-width: 100%;
        height: auto;
        display: block;
    }

#div-to-make-room
    {
        height: 35px;
    }

#mac_pics {
    display: flex;
    justify-content: center;   
    margin-top: 60px;
    margin-bottom: 10px;         
    width: 100%;               
}

#mac_pics img {
    width: 80vw;              
    height: auto;              
    max-width: 100%;
    object-fit: cover;      
}



#layoutbox
    {
        width: 100%;
        max-width: 100vw;
        padding: 0;
        position: absolute;
        top: 10%;
    }

#layoutbox img
    {
        max-width: 100%;
    }

@media (orientation: portrait)
    {
    #layoutbox
        {
            background-color: #390087;
            display: flex;
	        flex-direction: column;
            padding-top: 25%;
        }

    #social-media-links
        {
            background-color: #390087;
            display: flex;
	        flex-direction: row;
            object-fit: cover;
        }
    }

@media (orientation: landscape)
    {
    #layoutbox
        {
            background-color: #390087;
            display: flex;
	        flex-direction: row;
        }

    #social-media-links
        {
            background-color: #390087;
            display: flex;
	        flex-direction: column;
            justify-content: space-evenly;
            width: 25%;
            object-fit: cover;
            margin-top: 60px;
        }
    .social-media-logos
        {
            width: 30vw;
            aspect-ratio: 1 / 1;
            margin: 2vh 0;
        }
    
    .social-media-logos img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }


    }

/* VideoBoxes*/

.video-containers
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

.video
    {
       display: flex;
       justify-content: center;
       margin-top: 5vh;
    }