body
    {
        background-color: #390087;
        margin: 0;
    }

.topbar
    {
        position: fixed;
        top: 0;
        height: 40px;
        width: 100vw;
        background-color: black;
        display: flex;
        justify-content: flex-end;
        align-items: center;
           
    }

#navbar
    {
        position: fixed;
        top: 0;
        height: 40px;
        width: 100vw;
        background-color: black;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }



.topboxes
    {
        display: flex;
        padding: 0;
        flex-direction: row;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        background-color: black;
         margin: 10px;
        
    }



#topbox
    {
              
        justify-content: right;
        margin: 0;
    }

#upcoming_shows
    {
        color: white;
        font-size:  8vh;
        text-align: center;
    }

.actual-text
    {
        color: white;
        display: flex;
        justify-content: center;
    }

.actual-text:hover
    {
        color: red;
        text-decoration: none;
    }

.pic-holder
    {
        display: flex;
        flex-direction: row;
    }

.pics
    {
        display: flex;
        width: 50vw;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }


.pics img
    {
        max-width: 100%;
        height: auto;
        display: block;
    }

#div-to-make-room
    {
        height: 35px;
    }

#mac_pics
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }